GOOGLE_MAPS_API_KEY=your_google_key_here
GOOGLE_GEOCODING_BASE_URL=https://maps.googleapis.com/maps/api/geocode/json
GOOGLE_PLACES_NEARBY_BASE_URL=https://places.googleapis.com/v1/places:searchNearby
GOOGLE_PLACES_AUTOCOMPLETE_BASE_URL=https://places.googleapis.com/v1/places:autocomplete
